.App {
  margin: auto;
  width: 1022px;
  outline: 1px solid black;
  padding: 0;
}

@media (max-width: 1050px) {
  .App {
    width: 900px;

  }
}
@media (max-width: 915px) {
  .App {
    width: 800px;
  }
}
@media (max-width: 800px) {
  .App {
    width: 700px;
  }
}