.calender-table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.week-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.week-styles div {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 90%;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgba(162, 115, 231, 0.899);
}
.week-styles p {
  margin: 10px;
}
.second {
  background-color: rgba(245, 245, 220, 0.157);
}
.second-section {
  height: 75px;
  outline: 1px double rgba(124, 124, 124, 0.469);
  margin: 0;
  padding: 0;
}

.time {
  margin: 0;
  padding: 0;
  margin-top: -9px;
  width: 100%;
  font-size: 14px;
  color: gray;
  text-align: center;
}
.clickable {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: auto;
  color: rgba(169, 169, 169, 0.789);
}
.event-time {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.outer-div {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.event-th {
  position: relative;
  height: 100%;
  background-color: transparent;
  padding: 0px 10px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Gill Sans Extrabold", sans-serif;
  overflow: hidden;
  color: rgba(22, 22, 22, 0.808);
  text-align: left;
}
.event-name {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 12px;
  white-space: wrap;
  /* color: black; */
  font-weight: bold;
}
.buttons-div {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.buttons-div button {
  position: absolute;
  height: 100%;
  border: none;
  width: 50%;
  transition: tranform 300ms linear;
}
.buttons-div button i {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.buttons-div button i:hover {
  transform: scale(1.04);
}
.delete-button {
  transform: translateX(-101%);
  left: 0;
  background-color: rgb(192, 57, 43);
}
.edit-button {
  transform: translateX(101%);
  right: 0;
  background-color: rgb(52, 152, 219);
}
.badge {
  position: absolute;
  bottom: -15px;
  width: 10px;
  height: 10px;
  background-color: rgb(22, 255, 1);
  border-radius: 50%;
  display: inline-block;
}
.button-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.onTodayEvent {
  color: black;
  border-top: 1px solid gray;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-101%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(101%);
  }
  25% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media (max-width: 1050px) {
  .calender-table th {
    height: 88.58px;
  }
  .event-th {
    padding: 0px 8px;
  }
  .event-name {
    font-size: 10px;
  }
  .event-time {
    font-size: 10px;
  }
}
@media (max-width: 915px) {
  .event-name {
    font-size: 10px;
  }
  .event-time {
    font-size: 10px;
  }
  .calender-table th {
    height: 78.74px;
  }
  .second th .time {
    font-size: 12px;
  }
  .clickable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: auto;
    color: rgba(169, 169, 169, 0.789);
  }
  .week-styles {
    border-radius: 5px;
  }
  .week-styles p {
    margin: auto;
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .calender-table th {
    height: 69px;
  }
  .time {
    font-size: 10px;
  }
  .week-styles {
    border-radius: 5px;
  }
  .week-styles p {
    font-size: 10px;
  }
}
