/* styles.css */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  width: 300px;
}
.modal-content h2 {
  margin-bottom: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

form {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

form input[type="text"] {
  width: auto;
  outline: 1px solid black;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="color"] {
  padding: 8px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
/*  check boxes color */

.color-options {
  display: flex;
  justify-content: space-between;
}

.color-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
}
.color-label input[type="checkbox"]:checked + .color-box {
  background-color: #007bff;
  border: none;
}
.error-message {
  color: red;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.modal-date {
  text-align: center;
  margin: 0;
  padding: 0;
}
.modal-delete-button {
  background-color: rgb(210, 59, 59) !important;
}
.modal-delete-button:hover {
  background-color: rgb(172, 38, 38) !important;
}
.add-button{
  background-color: rgb(26, 198, 26) !important;
}
.add-button:hover{
  background-color: rgb(17, 134, 17) !important;
}

