.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: auto 20px;
}
.left-part {
  margin-left: 20px;
}
.calendar-select {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  outline: 1px solid black;
  border-radius: 5px;
  padding: 8px 5px;
  margin: auto 10px;
}
.calendar-select p {
  margin: 0;
}
.current-range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  font-weight: bold;
}
.current-range p {
  display: flex;
  font-size: 20px;
  margin: auto 3px;
}
.calendar-select select {
  border: none;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  margin: 0;
}
.navigation-button {
  display: flex;
  margin: auto 10px;
}
.navigation-button button{
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer; 
}
.right-part button {
  padding: 6px 20px;
  margin: 2px;
}
.right-part button p {
  padding: 0;
  margin: 0;
}
